<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/tailwind.css" />
    <title>{{ title }}</title>
  </head>

  <body class="mb-[128px] flex flex-col items-center">
    {% include "header.njk" %}
    <main class="flex w-full max-w-5xl flex-col px-4 pt-8 lg:px-0">
      {{ content | safe }}
    </main>
  </body>
</html>
