{% macro h1(text, subtext, classes) %}
<h1 class="flex flex-col text-lg md:text-3xl font-bold {{ classes }}">
  <span class="font-normal md:font-extralight"> {{ text }} </span>
  {% if subtext %}
  <span class="leading-1 align-top text-lg font-light text-slate-500">
    {{ subtext }}
  </span>
  {% endif %}
</h1>
{% endmacro %}
